body {
    background-color: #f6ecd3;
}


h1, h3 {
    color: rgb(90, 76, 20);
}


hr {
    background-color: none;
    border: none;
    height: 2px;
    width: 30%;
    /* border-radius: 0%; */
    /* border-width: 5px; */
    border-color: white;
    border-style: none;
    border-top-style: dotted;
}


img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
} 


